<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNP1UTncEnAP0GwpY4UxWpAHJZ4lzTvmM</string>
	<key>GCM_SENDER_ID</key>
	<string>647450762236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jhhs.625081.CPB-Firebase</string>
	<key>PROJECT_ID</key>
	<string>cpb-firebase-7b3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>cpb-firebase-7b3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647450762236:ios:cb4ca835916d8659eb3079</string>
	<key>DATABASE_URL</key>
	<string>https://cpb-firebase-7b3c9-default-rtdb.firebaseio.com</string>
</dict>
</plist>